body {
    margin: 0;
    padding: 0;
    font-family: inherit;
    background-color: black;
    overflow-x: hidden;
  }

  .header .container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 160px;
  }
  
  .header {
    width: 100%;
    background-color: black;
    border-bottom: 3px solid gray;
  }
  
  .header .container {
    justify-content: space-between;
  }
  
  .header a {
    text-decoration: none;
    color: white;
  }
  
  .navbar {
    width: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 18px;
  }
  
  .btn_cadastro {
    cursor: pointer;
  }
  
  .img {
    width: auto;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .equipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .equipes .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70vw;
      color: white;
      font-family: inherit;
  }

  .container h1{
      font-size: 60px;
      margin-bottom: 9px;
  }

  .container hr {
    border-bottom: 3px solid #1B6BB3;
    width: 100%;
  }

  .container p{
    font-size: 20px;
  } */

  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
  
  .container h1 {
    color: #fff;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .equipes hr {
    border-bottom: 3px solid #1B6BB3;
    width: 100%;
    margin-top: 30px;
  }
  
  .equipes p {
    width: 100%;
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
  }
  
  .equipes img {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 4px;
  }

  .botoes{
      display: flex;
      justify-content: space-evenly;
      width: 100vw;
  }
  
.botoes button{
    font-size: 17px;
    width: 120px;
} 

.audio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipes img{
    width: 500px;
}
