@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.logo {
  width: 160px;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  border-bottom: 3px solid gray;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 110vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.btn_cadastro {
  cursor: pointer;
}


.img {
  width: auto;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotos {
  height: 700px;
}

.galery {
  width: 100%;
  height: 700px;
  object-fit: contain;
  overflow: hidden;
}

.galery .fotos {
  width: 500%;
  display: flex;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.botao {
  position: absolute;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}

.botao button{
  background-color: #1B6BB3;
  border: none;
  width: 320px;
  height: 55px;
  font-size: 25px;
  color: #fff;
}

.botao p{
  font-size: 56px;
  margin-top: 40px;
  font-family: 'Concert One', cursive;
}

.galery .fotos .img {
  width: 19.9%;
  /* largura de cada imagem */
}

.img img{
  width: 100%;
}

.hr {
  margin: 0;
}

.servir {
  background-color: #1b3062;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 30vh;
}

.servir .btn {
  width: 20vh;
  height: 1vw;
}

