@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.logo{
  width: 160px;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid gray;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 110vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.btn_cadastro{
  cursor: pointer;
}
