/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
}

/* git
.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
} */

/* pagina graficos */

/* .dash-header {
  background-color: #212124;
}

.dash {
  width: 75%;
  position: relative;
  top: 0;
  left: 25%;
  background-color: #161618;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; */

  /* width: 75%;
    display: flex;
    background-color: #161618;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
  /* height: 100vh; */
/* } */

.treinamento {
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.treinamento h1{
  margin-bottom: 3px;
}

hr{
  border-bottom: 2px solid #1B6BB3;
  width: 100%;
}

.treinamento p{
  font-size: 20px;
  width: 90%;
}

.videos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* .audio{
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: row;
} */

iframe{
  margin: 10px;
}